
<div class="container-fluid mt-5">
<form #data="ngForm" >
<div class="col-sm-10 container-fluid ">
  <input type="text" class="form-control" id="info" name="info" required ngModel > <br>
  <div >
  <button  [disabled]="!data.valid" (click)="GetByCity(data)" class="btn btn-dark">Get By City</button>  &nbsp;
  <button  [disabled]="!data.valid" (click)="GetByState(data)" class="btn btn-dark">Get By State</button>&nbsp;
  <button  [disabled]="!data.valid" (click)="GetByType(data)" class="btn btn-dark">Get By Brewery Type</button>&nbsp;
</div>
</div>
</form>
</div>

<div class="container-fluid">
<table class="table table-striped caption-top table-hover ">
  <caption>Breweries</caption>
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Brewery Name</th>
      <th>Brewery Type</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of breweriesList">
     <td>{{a.id}}</td>
     <td>{{a.name}}</td>
     <td>{{a.brewery_type}}</td>
     <td>{{a.street}}</td>
     <td>{{a.city}}</td>
     <td>{{a.state}}</td>
     <td>{{a.postal_code}}</td>
     <td>{{a.latitude}}</td>
     <td>{{a.longitude}}</td>
    </tr>
  </tbody>
</table>

</div>